{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<img id="loginlogo" src="{{STATIC_URL}}users/sg_logo.png"></img>

<form id="login" class="loginform" method="post" action="{% url 'users:login' %}">
{% csrf_token %}
<ul>
	<li><input type="text" name="username" placeholder="Username" />
	<li><input type="password" name="password" placeholder="Password"></li>
	<li><input type="submit" value="login" /></li>
</ul>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}