{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/groupsession.css' %}" />
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>List of group sessions available</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Date/Time</td>
                <td>Location</td>
                <td>Instructor</td>
                <td>Available Slots</td>
            </tr>
        </thead>
        {% for session in group_sessions %}
        <tr>
            <td class="{% cycle 'row1' 'row2' as rowcolors %}">{{ session.name }}</td>
            <td class="{{ rowcolors }}">{{ session.date_time }}</td>
            <td class="{{ rowcolors }}">{{ session.location }}</td>
            <td class="{{ rowcolors }}">{{ session.instructor_name }}</td>
            <td class="{{ rowcolors }}">
                {{ session.free_slots }} / {{ session.available_slots }}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4">There are no group sessions available at the moment</td></tr>
        {% endfor %}
        <!--{% if user in session.users_attending.all %}
        <form method="post" action="{% url 'users:groupsession' %}">
            {% csrf_token %}
            <button type="submit" name='button' value="{{ session.id }}.0">Don't attend</button>
        </form>
        {% else %}
        <form method="post" action="{% url 'users:groupsession' %}">
            {% csrf_token %}
            <button type="submit" name='button' value="{{ session.id }}.1">Attend</button>
       </form>
       {% endif %}
       -->
    </table>
    {% else %}
    <h1>Welcome to SmartGym. Please log in <a href="{% url 'users:login' %}">HERE</a></h1>
    {% endif %}
{% endblock %}
