{% if user.is_authenticated %}
	<h1>List of group sessions available</h1>
	<ul>
	{% for session in group_sessions %}
		<li>
			{{ session.name }} - 
			{{ session.coach }} - 
			{{ session.date_time }} -
			{% if user in session.users_attending.all %}
				<form method="post" action="{% url 'users:groupsession' %}">
					{% csrf_token %}
					<button type="submit" name='button' value="{{ session.id }}.0">Don't attend</button>
				</form>
			{% else %}
				<form method="post" action="{% url 'users:groupsession' %}">
					{% csrf_token %}
					<button type="submit" name='button' value="{{ session.id }}.1">Attend</button>
				</form>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<h1>Welcome to SmartGym. Please log in <a href="{% url 'users:login' %}">HERE</a></h1>
{% endif %}	