{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

Welcome to your profile {{ user.username }}

<form method="post" action="{% url 'users:profile' %}">
{% csrf_token %}
<ul>
	<li><label for="firstname">First name</label><input type="text" id="firstname" name="firstname" value="{{ user.first_name }}" /></li>
	<li><label for="lastname">Last name</label><input type="text" id="lastname" name="lastname" value="{{ user.last_name }}" /></li>
	<li><label for="email">Email</label><input type="text" id="email" name="email" value="{{ user.email }}"></li>
</ul>
<input type="submit" value="Save">
</form>

{% else %}

You are not logged in

{% endif %}

{% endblock %}