{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

Welcome to your profile {{ user.username }}

<form method="post" action="{% url 'users:profile' %}">
{% csrf_token %}
First name: <input type="text" name="firstname" value="{{ user.first_name }}"><br>
Last name: <input type="text" name="lastname" value="{{ user.last_name }}"><br>
Email: <input type="text" name="lastname" value="{{ user.email }}"><br>
<input type="submit" value="Save">
</form>

{% else %}

You are not logged in

{% endif %}

{% endblock %}