{% extends "base.html" %}

<head>
<script type="text/javascript" src="/static/jquery-2.1.4-min.js"></script></script>
</head>

{% block content %}

{% if user.is_authenticated %}

Welcome to your profile {{ user.username }}

<form class="form" method="post" action="{% url 'users:profile' %}">
{% csrf_token %}
<ul>
    <li><label for="firstname">First name</label></li>
    <li><input type="text" id="firstname" name="firstname" value="{{ user.first_name }}" /></li>
    <li><label for="lastname">Last name</label></li>
    <li><input type="text" id="lastname" name="lastname" value="{{ user.last_name }}" /></li>
    <li><label for="email">Email</label></li>
    <li><input type="text" id="email" name="email" value="{{ user.email }}" />
    <li><input type="submit" value="Save"></li>
</ul>
</form>

<div>
    <p>Profile info from LFConnect</p>
    <table>
        {% for key, value in lf_data.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
             


{% if not lf_connected %}

Connect to LFOpen

<a href="https://vtqa.lfconnect.com/web/oauthAuthorize?response_type=code&client_id=6299bd2d816f49a890ee481beb22c07d&redirect_uri=http://46.101.58.27:9000/users/profile/">Connect</a>

{% endif %}

{% else %}

You are not logged in

{% endif %}

{% endblock %}
