body {
	background: -webkit-linear-gradient(180deg, #000000 , #3c3d4b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(180deg, #000000, #3c3d4b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #000000, #3c3d4b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #000000, #3c3d4b); /* Standard syntax */

  	/* The below fix is needed so the gradient background does not repeat itself */
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #b5b5b5;
}

html {
	/* The below fix is needed so the gradient background does not repeat itself */
    height: 100%; 
}

.loginform {
	margin-left: auto;
	margin-right: auto;
	align: center;
	text-align: center;
	color: #b5b5b5;
}

#loginlogo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
	border: none;
	background: #147BA5;
	margin: 5px;
}

input[type=submit]:hover {
	border: none;
	background: #60b5cf;
	margin: 5px;
}