/* General style */
body {
	/* 
	background: -webkit-linear-gradient(180deg, #000000 , #3c3d4b);
	background: -o-linear-gradient(180deg, #000000, #3c3d4b);
	background: -moz-linear-gradient(180deg, #000000, #3c3d4b);
	background: linear-gradient(180deg, #000000, #3c3d4b);
	*/

	color: #b5b5b5;

  	/* The below fix is needed so the gradient background does not repeat itself */
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 0;
	/* End of fix */
}

html {
	/* The below fix is needed so the gradient background does not repeat itself */
    height: 100%; 
}

/* Forms */
.form li {
	list-style: none;
}

.form input[type=submit] {
	border: none;
	background: #60b5cf;
	margin: 5px;
}

.form input[type=submit]:hover {
	background: #147BA5;
	border: none;
	margin: 5px;
}

/* Login screen */
#loginform {
	align: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#loginlogo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

/* Navigation bar */
nav.horizontal {
	margin: auto;§
	overflow: hidden;
}
	
	nav.horizontal ul {
		list-style: none;
		background-color: #444;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	nav.horizontal li {
		display: block;
		font-family: 'Oswald', sans-serif;
		font-size: 1.2em;
		line-height: 40px;
		height: 40px;
		border-bottom: 1px solid #888;
	}

	nav.horizontal a {
		text-decoration: none;
		color: #fff;
	}