/* General style */
body {
	background: -webkit-linear-gradient(180deg, #000000 , #3c3d4b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(180deg, #000000, #3c3d4b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #000000, #3c3d4b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(180deg, #000000, #3c3d4b); /* Standard syntax */

	color: #b5b5b5;

  	/* The below fix is needed so the gradient background does not repeat itself */
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	/* End of fix */
}

html {
	/* The below fix is needed so the gradient background does not repeat itself */
    height: 100%; 
}


/* Forms */
.form li {
	list-style: none;
}

.form input[type=submit] {
	border: none;
	background: #60b5cf;
	margin: 5px;
}

.form input[type=submit]:hover {
	background: #147BA5;
	border: none;
	margin: 5px;
}

/* Login screen */
#loginform {
	align: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#loginlogo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}