h1#sessions_title {
    float: center;
    margin: 0 auto;
    width: 100%;
    padding: 5%;
    
}

table#sessions {
    margin: 0 auto;
    width: 100%;
    padding: 5%;
}

thead {
    text-transform: uppercase;
}

tr {
    margin: 5px auto;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

tr:hover {
    opacity: 0.6;
}

td.row1 {
    margin: 2px auto;
    width: 20%;
}

td.row2 {
    margin: 2px auto;
    width: 20%;
}

td.row1, td.row2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
